{% extends 'base.html.twig' %}

{% block title %}Expense{% endblock %}

{% block body %}
    <h1>Expense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ expense.createdAt ? expense.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>RecordedAt</th>
                <td>{{ expense.recordedAt ? expense.recordedAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ expense.description }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ expense.amount }}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{{ expense.paid ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_expense_index') }}">back to list</a>

    <a href="{{ path('app_expense_edit', {'id': expense.id}) }}">edit</a>

    {{ include('expense/_delete_form.html.twig') }}
{% endblock %}
