{% extends 'layout.html.twig' %}

{% block title %}Lettrage index{% endblock %}

{% block body %}
    <h1 class="font-bold">
        Lettrage index
        <a href="{{ path('app_lettrage_new') }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </a>
    </h1>

    <div class="w-full my-4">
        <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-2 text-xs">
            <div class="content-center">
                <div class="h-full space-y-6 group p-4 rounded-xl bg-white border border-gray-200/50 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                    <div>
                        <h5 class="text-center text-xl text-gray-600 dark:text-gray-300">Total des ventes</h5>
                        <div class="mt-2 flex justify-center gap-4">
                            <h3 class="text-3xl font-bold text-gray-700 dark:text-white text-nowrap">{{ totals.sales|number_format(2, ",", " ") }} Ar</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class=content-center">
                <div class="h-full space-y-6 group p-4 rounded-xl bg-white border border-gray-200/50 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                    <div>
                        <h5 class="text-center text-xl text-gray-600 dark:text-gray-300">Total des dépenses</h5>
                        <div class="mt-2 flex justify-center gap-4">
                            <h3 class="text-3xl font-bold text-gray-700 dark:text-white text-nowrap">{{ totals.expenses|number_format(2, ",", " ") }} Ar</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-center">
                <div class="h-full space-y-6 group p-4 rounded-xl bg-white border border-gray-200/50 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                    <div>
                        <h5 class="text-center text-xl text-gray-600 dark:text-gray-300">Total à remettre en banque</h5>
                        <div class="mt-2 flex justify-center gap-4">
                            <h3 class="text-3xl font-bold text-gray-700 dark:text-white text-nowrap">{{ (totals.sales - totals.expenses)|number_format(2, ",", " ") }} Ar</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="border-collapse table-auto w-full text-sm">
        <thead>
            <tr>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Lettrage</th>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-right">Ventes</th>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-right">Dépenses</th>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-right">A mettre en banque</th>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lettrage in lettrages %}
            <tr>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">{{ lettrage.label }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-right">
                    {{ lettrage.amountSales|number_format(2, ",", " ") }}
                </td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-right">
                    {{ lettrage.amountExpenses|number_format(2, ",", " ") }}
                </td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-right">
                    {{ (lettrage.amountSales - lettrage.amountExpenses)|number_format(2, ",", " ") }}
                </td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">
                    <a href="{{ path('app_lettrage_show', {'id': lettrage.id}) }}">show</a>
                    <a href="{{ path('app_lettrage_edit', {'id': lettrage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
