{% extends 'layout.html.twig' %}

{% block title %}Lettrage index{% endblock %}

{% block body %}
    <h1 class="font-bold">
        Lettrage index
        <a href="{{ path('app_lettrage_new') }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </a>
    </h1>

    <table class="border-collapse table-auto w-full text-sm">
        <thead>
            <tr>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Id</th>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">RecordedAt</th>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Label</th>
                <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lettrage in lettrages %}
            <tr>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">{{ lettrage.id }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">{{ lettrage.recordedAt ? lettrage.recordedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">{{ lettrage.label }}</td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">
                    <a href="{{ path('app_lettrage_show', {'id': lettrage.id}) }}">show</a>
                    <a href="{{ path('app_lettrage_edit', {'id': lettrage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
