{{ form_start(form) }}
    <div class="flex flex-row space-x-4 mb-4">
        <div class="space-y-2 pt-6 basis-1/4">
            {{ form_label(form.soldOn, 'Date') }}
            {{ form_widget(form.soldOn, {'attr': {'class': 'focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300'}}) }}
        </div>
        <div class="space-y-2 pt-6 basis-1/4">
            {{ form_label(form.item, 'Article') }}
            {{ form_widget(form.item, {'attr': {'class': 'focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300'}}) }}
        </div>
        <div class="space-y-2 pt-6 basis-1/4">
            {{ form_label(form.qty, 'Quantité vendue') }}
            {{ form_widget(form.qty, {'attr': {'class': 'focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300'}}) }}
        </div>
        <div class="space-y-2 pt-6 basis-1/4">
            {{ form_label(form.qtyReturned, 'Quantité retournée') }}
            {{ form_widget(form.qtyReturned, {'attr': {'class': 'focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300'}}) }}
        </div>
    </div>
    <div class="checkbox mb-3">
        <label>
            {{ form_widget(form.received) }} Encaissé
        </label>
    </div>
    <div class="hidden">
        {{ form_widget(form.registeredBy) }}
    </div>
    {{ form_widget(form) }}
    <button type="submit" class="rounded bg-sky-400 relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
        <span class="relative text-base font-semibold text-white dark:text-dark">{{ button_label|default('Save') }}</span>
    </button>
{{ form_end(form) }}
