{% extends 'base.html.twig' %}

{% block title %}Sale{% endblock %}

{% block body %}
    <h1>Sale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>RecordedAt</th>
                <td>{{ sale.recordedAt ? sale.recordedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Qty</th>
                <td>{{ sale.qty }}</td>
            </tr>
            <tr>
                <th>QtyReturned</th>
                <td>{{ sale.qtyReturned }}</td>
            </tr>
            <tr>
                <th>Received</th>
                <td>{{ sale.received ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sale_index') }}">back to list</a>

    <a href="{{ path('app_sale_edit', {'id': sale.id}) }}">edit</a>

    {{ include('sale/_delete_form.html.twig') }}
{% endblock %}
