<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}DUO - ADV{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="bg-gray-100 dark:bg-gray-900">
            <aside
                    class="fixed top-0 z-10 ml-[-100%] flex h-screen w-full flex-col justify-between border-r bg-white px-6 pb-3 transition duration-300 md:w-4/12 lg:ml-0 lg:w-[25%] xl:w-[20%] 2xl:w-[15%] dark:bg-gray-800 dark:border-gray-700"
            >
                <div>
                    <div class="-mx-6 px-6 py-4">
                        <a href="{{ path('app_dashboard') }}" title="home" class="flex gap-x-2.5 text-sm font-semibold leading-6 text-slate-900 dark:text-slate-200">
                            <img src="{{ asset('images/logo.jpg') }}" alt="duo logo" />
                        </a>
                    </div>

                    <div class="text-center">
                        <h5 class="hidden text-xs font-bold text-gray-600 lg:block dark:text-gray-300">
                            {{ app.user.email|split('@')[0] }}
                        </h5>
                        <span class="hidden font-bold text-gray-400 lg:block">Admin</span>
                    </div>

                    {% set menu1Class = 'group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300' %}
                    {% set menu2Class = 'group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300' %}
                    {% set menu3Class = 'group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300' %}
                    {% set menu4Class = 'group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300' %}
                    {% set menu5Class = 'group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300' %}
                    {% set menu6Class = 'group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300' %}
                    {% set title = 'DUO - ADV' %}
                    {% if app.request.attributes.get("_route") starts with 'app_dashboard' %}
                        {% set menu1Class = 'relative flex items-center space-x-4 rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400 px-4 py-3 text-white' %}
                        {% set title = 'DUO - ADV - Dashboard' %}
                    {% endif %}
                    {% if app.request.attributes.get("_route") starts with 'app_lettrage' %}
                        {% set menu2Class = 'relative flex items-center space-x-4 rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400 px-4 py-3 text-white' %}
                        {% set title = 'DUO - ADV - Lettrage' %}
                    {% endif %}
                    {% if app.request.attributes.get("_route") starts with 'app_article' %}
                        {% set menu3Class = 'relative flex items-center space-x-4 rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400 px-4 py-3 text-white' %}
                        {% set title = 'DUO - ADV - Stock' %}
                    {% endif %}
                    {% if app.request.attributes.get("_route") starts with 'app_expense' %}
                        {% set menu4Class = 'relative flex items-center space-x-4 rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400 px-4 py-3 text-white' %}
                        {% set title = 'DUO - ADV - Dépense' %}
                    {% endif %}
                    {% if app.request.attributes.get("_route") starts with 'app_sale' %}
                        {% set menu5Class = 'relative flex items-center space-x-4 rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400 px-4 py-3 text-white' %}
                        {% set title = 'DUO - ADV - Vente' %}
                    {% endif %}
                    {% if app.request.attributes.get("_route") starts with 'app_bank' %}
                        {% set menu6Class = 'relative flex items-center space-x-4 rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400 px-4 py-3 text-white' %}
                        {% set title = 'DUO - ADV - Banque' %}
                    {% endif %}
                    <ul class="mt-8 space-y-2 tracking-wide">
                        <li>
                            <a
                                    href="{{ path('app_dashboard', {tab: 'recap'}) }}"
                                    class="{{ menu1Class }}"
                            >
                                <svg class="-ml-1 h-6 w-6" viewBox="0 0 24 24" fill="none">
                                    <path
                                            d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z"
                                            class="dark:fill-slate-600 fill-current text-cyan-400"
                                    ></path>
                                    <path
                                            d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z"
                                            class="fill-current text-cyan-200 group-hover:text-cyan-300"
                                    ></path>
                                    <path
                                            d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z"
                                            class="fill-current group-hover:text-sky-300"
                                    ></path>
                                </svg>
                                <span class="-mr-1 font-medium">Dashboard</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a
                                    href="{{ path('app_bank') }}"
                                    class="{{ menu6Class }}"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5">
                                    <path d="M12 7.5a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" />
                                    <path fill-rule="evenodd" d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 14.625v-9.75ZM8.25 9.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM18.75 9a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75V9.75a.75.75 0 0 0-.75-.75h-.008ZM4.5 9.75A.75.75 0 0 1 5.25 9h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H5.25a.75.75 0 0 1-.75-.75V9.75Z" clip-rule="evenodd" />
                                    <path d="M2.25 18a.75.75 0 0 0 0 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 0 0-.75-.75H2.25Z" />
                                </svg>
                                <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50">Banque</span>
                            </a>
                        </li>
                        <li>
                            <a
                                    href="{{ path('app_lettrage_index') }}"
                                    class="{{ menu2Class }}"
                            >
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                >
                                    <path
                                            class="fill-current text-gray-300 group-hover:text-cyan-300"
                                            fill-rule="evenodd"
                                            d="M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z"
                                            clip-rule="evenodd"
                                    />
                                    <path
                                            class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
                                            d="M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z"
                                    />
                                </svg>
                                <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50">Lettrage</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_article_index') }}"
                               class="{{ menu3Class }}"
                            >
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                >
                                    <path
                                            class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
                                            fill-rule="evenodd"
                                            d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                                            clip-rule="evenodd"
                                    />
                                    <path
                                            class="fill-current text-gray-300 group-hover:text-cyan-300"
                                            d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"
                                    />
                                </svg>
                                <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50">Stock</span>
                            </a>
                        </li>
                        <li>
                            <a
                                    href="{{ path('app_expense_index') }}"
                                    class="{{ menu4Class }}"
                            >
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                >
                                    <path
                                            class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-cyan-400"
                                            d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"
                                    />
                                    <path
                                            class="fill-current text-gray-300 group-hover:text-cyan-300"
                                            d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"
                                    />
                                </svg>
                                <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50">Dépenses</span>
                            </a>
                        </li>
                        <li>
                            <a
                                    href="{{ path('app_sale_index') }}"
                                    class="{{ menu5Class }}"
                            >
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                >
                                    <path
                                            class="fill-current text-gray-300 group-hover:text-cyan-300"
                                            d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"
                                    />
                                    <path
                                            class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
                                            fill-rule="evenodd"
                                            d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                                            clip-rule="evenodd"
                                    />
                                </svg>
                                <span class="group-hover:text-gray-700 dark:group-hover:text-white">Ventes</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="-mx-6 flex items-center justify-between border-t px-6 pt-4 dark:border-gray-700">
                    <a href="{{ path('app_logout') }}" class="group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                        >
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                            />
                        </svg>
                        <span class="group-hover:text-gray-700 dark:group-hover:text-white">Logout</span>
                    </a>
                </div>
            </aside>
            <div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
                <div class="z-10 sticky top-0 h-16 border-b bg-white dark:bg-gray-800 dark:border-gray-700 lg:py-2.5 lg:hidden">
                    <div class="flex items-center justify-between space-x-4 px-6 pt-2 2xl:container">
                        <label class="relative z-40 cursor-pointer px-3 py-6" for="mobile-menu">
                            <input class="peer hidden" type="checkbox" id="mobile-menu" />
                            <div
                                    class="relative z-50 block h-[1px] w-7 bg-black bg-transparent content-[''] before:absolute before:top-[-0.35rem] before:z-50 before:block before:h-full before:w-full before:bg-black before:transition-all before:duration-200 before:ease-out before:content-[''] after:absolute after:right-0 after:bottom-[-0.35rem] after:block after:h-full after:w-full after:bg-black after:transition-all after:duration-200 after:ease-out after:content-[''] peer-checked:bg-transparent before:peer-checked:top-0 before:peer-checked:w-full before:peer-checked:rotate-45 before:peer-checked:transform after:peer-checked:bottom-0 after:peer-checked:w-full after:peer-checked:-rotate-45 after:peer-checked:transform"
                            >
                            </div>
                            <div
                                    class="fixed inset-0 z-40 hidden h-full w-full bg-black/50 backdrop-blur-sm peer-checked:block"
                            >
                                &nbsp;
                            </div>
                            <div
                                    class="fixed top-0 right-0 z-40 h-full w-full translate-x-full overflow-y-auto overscroll-y-none transition duration-500 peer-checked:translate-x-0"
                            >
                                <div class="float-right min-h-full w-[85%] bg-white px-6 pt-12 shadow-2xl">
                                    <menu>
                                        <li>
                                            <a
                                                    href="{{ path('app_dashboard') }}"
                                                    class="{{ menu1Class }}"
                                            >
                                                <svg class="-ml-1 h-6 w-6" viewBox="0 0 24 24" fill="none">
                                                    <path
                                                            d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z"
                                                            class="dark:fill-slate-600 fill-current text-cyan-400"
                                                    ></path>
                                                    <path
                                                            d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z"
                                                            class="fill-current text-cyan-200 group-hover:text-cyan-300"
                                                    ></path>
                                                    <path
                                                            d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z"
                                                            class="fill-current group-hover:text-sky-300"
                                                    ></path>
                                                </svg>
                                                <span class="-mr-1 font-medium">Dashboard</span>
                                            </a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a
                                                    href="{{ path('app_bank') }}"
                                                    class="{{ menu6Class }}"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5">
                                                    <path d="M12 7.5a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" />
                                                    <path fill-rule="evenodd" d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 14.625v-9.75ZM8.25 9.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM18.75 9a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75V9.75a.75.75 0 0 0-.75-.75h-.008ZM4.5 9.75A.75.75 0 0 1 5.25 9h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H5.25a.75.75 0 0 1-.75-.75V9.75Z" clip-rule="evenodd" />
                                                    <path d="M2.25 18a.75.75 0 0 0 0 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 0 0-.75-.75H2.25Z" />
                                                </svg>
                                                <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50">Banque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                    href="{{ path('app_lettrage_index') }}"
                                                    class="{{ menu2Class }}"
                                            >
                                                <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="h-5 w-5"
                                                        viewBox="0 0 20 20"
                                                        fill="currentColor"
                                                >
                                                    <path
                                                            class="fill-current text-gray-300 group-hover:text-cyan-300"
                                                            fill-rule="evenodd"
                                                            d="M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z"
                                                            clip-rule="evenodd"
                                                    />
                                                    <path
                                                            class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
                                                            d="M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z"
                                                    />
                                                </svg>
                                                <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50">Lettrage</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_article_index') }}"
                                               class="{{ menu3Class }}"
                                            >
                                                <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="h-5 w-5"
                                                        viewBox="0 0 20 20"
                                                        fill="currentColor"
                                                >
                                                    <path
                                                            class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
                                                            fill-rule="evenodd"
                                                            d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                                                            clip-rule="evenodd"
                                                    />
                                                    <path
                                                            class="fill-current text-gray-300 group-hover:text-cyan-300"
                                                            d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"
                                                    />
                                                </svg>
                                                <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50">Stock</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                    href="{{ path('app_expense_index') }}"
                                                    class="{{ menu4Class }}"
                                            >
                                                <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="h-5 w-5"
                                                        viewBox="0 0 20 20"
                                                        fill="currentColor"
                                                >
                                                    <path
                                                            class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-cyan-400"
                                                            d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"
                                                    />
                                                    <path
                                                            class="fill-current text-gray-300 group-hover:text-cyan-300"
                                                            d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"
                                                    />
                                                </svg>
                                                <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50">Dépenses</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                    href="{{ path('app_sale_index') }}"
                                                    class="{{ menu5Class }}"
                                            >
                                                <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="h-5 w-5"
                                                        viewBox="0 0 20 20"
                                                        fill="currentColor"
                                                >
                                                    <path
                                                            class="fill-current text-gray-300 group-hover:text-cyan-300"
                                                            d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"
                                                    />
                                                    <path
                                                            class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
                                                            fill-rule="evenodd"
                                                            d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                                                            clip-rule="evenodd"
                                                    />
                                                </svg>
                                                <span class="group-hover:text-gray-700 dark:group-hover:text-white">Ventes</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </menu>
                                </div>
                            </div>
                        </label>
                        <div class="flex space-x-4">
                            <div class="flex items-center justify-between">
                                <a href="{{ path('app_logout') }}" class="group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="h-6 w-6"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                    >
                                        <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                                        />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-6 2xl:container bg-white">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
