<div class="w-full my-2">
    <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-2 text-xs">
        <div class="content-center">
            <div class="h-full space-y-6 group p-4 rounded-xl bg-white border border-gray-200/50 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                <div>
                    <h5 class="text-center text-xl text-gray-600 dark:text-gray-300">Total des dépenses</h5>
                    <div class="mt-2 flex justify-center gap-4">
                        <h3 class="text-3xl font-bold text-gray-700 dark:text-white text-nowrap">{{ expenses.totalAmount|number_format(0, ",", " ") }} Ar</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class=content-center">
            <div class="h-full space-y-6 group p-4 rounded-xl bg-white border border-gray-200/50 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                <div>
                    <h5 class="text-center text-xl text-gray-600 dark:text-gray-300">Total des dépenses payées</h5>
                    <div class="mt-2 flex justify-center gap-4">
                        <h3 class="text-3xl font-bold text-gray-700 dark:text-white text-nowrap">{{ expenses.totalReceived|number_format(0, ",", " ") }} Ar</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-center">
            <div class="h-full space-y-6 group p-4 rounded-xl bg-white border border-gray-200/50 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                <div>
                    <h5 class="text-center text-xl text-gray-600 dark:text-gray-300">Total des dépenses non payées</h5>
                    <div class="mt-2 flex justify-center gap-4">
                        <h3 class="text-3xl font-bold text-gray-700 dark:text-white text-nowrap">{{ expenses.totalUnReceived|number_format(0, ",", " ") }} Ar</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table id="dashboard-sales" class="border-collapse table-auto w-full text-sm">
    <thead>
        <tr>
            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left"></th>
            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Date</th>
            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-right">Dépense</th>
            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-right">Payées</th>
            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-right">Reste à payer</th>
        </tr>
    </thead>
    <tbody>
    {% for recap in expenses.recap %}
        <tr id="sale-{{ loop.index }}" class="cursor-pointer">
            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hover:rotate-90 transition-all transform">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </td>
            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">
                {{ recap.recorded_at|date('d/m/Y') }}
            </td>
            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-right">
                {{ recap.depense|number_format(2, ",", " ") }}
            </td>
            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-right">
                {{ recap.depense_payee|number_format(2, ",", " ") }}
            </td>
            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-right">
                {{ recap.depense_impayee|number_format(2, ",", " ") }}
            </td>
        </tr>
        <tr id="detail-sale-{{ loop.index }}" class="hidden bg-sky-100 transition-all transform">
            <td colspan="5">
                <table class="border-collapse table-auto w-full text-xs table-striped">
                    <thead>
                        <tr class="bg-sky-200">
                            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 px-3 text-slate-400 dark:text-slate-200 text-left">Description</th>
                            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 px-3 text-slate-400 dark:text-slate-200 text-left">Montant</th>
                            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 px-3 text-slate-400 dark:text-slate-200 text-center">Lettrée</th>
                            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 px-3 text-slate-400 dark:text-slate-200 text-center">Payée</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for expense in recap.depenses %}
                        <tr class="text-xs">
                            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">{{ expense.description }}</td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-nowrap">{{ expense.amount|number_format(2, ",", " ") }}</td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-center">
                                <input type="checkbox"
                                        {{ (expense.lettrage)?'checked="checked"':'""' }}
                                       disabled="disabled" />
                            </td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-center">
                                <input type="checkbox"
                                        {{ (expense.paid)?'checked="checked"':'""' }}
                                        disabled="disabled" />
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">
                no records found
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>