<table id="dashboard-sales" class="border-collapse table-auto w-full text-sm">
    <thead>
        <tr>
            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left"></th>
            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Article</th>
            <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-right">Stock</th>
        </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
        <tr id="sale-{{ loop.index }}" class="cursor-pointer">
            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hover:rotate-90 transition-all transform">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </td>
            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">
                {{ stock.label }}
            </td>
            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-right">
                {{ stock.inStock }}
            </td>
        </tr>
        <tr id="detail-sale-{{ loop.index }}" class="hidden bg-sky-100 transition-all transform">
            <td colspan="3">
                <table class="border-collapse table-auto w-full text-xs table-striped">
                    <thead>
                    <tr class="bg-sky-200">
                        <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 px-3 text-slate-400 dark:text-slate-200 text-left">Date</th>
                        <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 px-3 text-slate-400 dark:text-slate-200 text-left">Avant</th>
                        <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 px-3 text-slate-400 dark:text-slate-200 text-left">Qté</th>
                        <th class="border-b dark:border-slate-600 font-medium p-2 pl-8 px-3 text-slate-400 dark:text-slate-200 text-left">Après</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movement in stock.movements %}
                        <tr class="text-xs">
                            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">{{ movement.operatedAt|date('d/m/Y') }}</td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">{{ movement.stockBefore }}</td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">{{ movement.qty }}</td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400 text-nowrap">{{ movement.stockAfter }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3" class="border-b border-slate-100 dark:border-slate-700 p-2 pl-8 text-slate-500 dark:text-slate-400">
                no records found
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>